.grid_mosaic {
    grid-auto-flow: dense;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}
 
.grid_mosaic > div {
    background-color: #EE6E39;
    width: 100%;
    height: 200px;
    position: relative;
}
 
.grid_mosaic > div::after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: attr(item);
    background-color: yellow;
}
 
.grid_mosaic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.grid_mosaic .wide {
    grid-column: span 2;
}
 
.grid_mosaic .tall {
    grid-row: span 2;
    height: 400px;
} 