@tailwind base;
@tailwind components;
@tailwind utilities;


img{
    max-width:  none;
}
*{
    box-sizing: border-box;

}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(/public/fonts/Poppins-Bold.ttf);
}


@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url(/public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(/public/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(/public/fonts/Poppins-Regular.ttf);
}

.grid_mosaic {
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    /*grid-auto-rows: 200px;*/
    grid-auto-flow: dense;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}
 
.grid_mosaic > div {
    background-color: #EE6E39;
    width: 100%;
    height: 200px;
    position: relative;
}
 
.grid_mosaic > div::after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: attr(class);
    background-color: yellow;
}
 
.grid_mosaic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.grid_mosaic .wide {
    grid-column: span 2;
}
 
.grid_mosaic .tall {
    grid-row: span 2;
    height: 400px;
} 