.error {
    color: rgba(255, 22, 22, 0.911);
    font-size: 14px;
    display: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.688%; 
    letter-spacing: 0.84px;
}

.show {
    display: block;
}