.grid_mosaic {
    width: 100%;
    display: grid;
    grid-template-columns: [one] auto [two] auto [three] auto [four] auto [five] auto;
    grid-template-rows: [row1-start] auto [row1-end];
    gap: 10px;
    align-items: center;
    justify-items: stretch;
}
 

.img_center {
    grid-column-start: 3;
    grid-column-end: three;
    grid-row-start: row1-start;
    grid-row-end: 3;
}

.grid_mosaic img {
    width: 100%;
}

